<ion-content>
    <div class="main-content" style="background-color: #FF0606 !important;">
        <ion-img class="img-logo" src="../../../assets/images/logo.png"></ion-img>
        <form [formGroup]="loginForm" style="padding: 0 0px;">
            <ion-grid class="info-view" style="border-radius: 20px 20px 0 0 !important;">
                <ion-row>
                    <ion-col>
                        <ion-row class="page_had">
                            <ion-col>
                                <ion-label class="pagetitle">Login</ion-label>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col>
                                <ion-label class="sec">Enter Your Login Details</ion-label>
                            </ion-col>
                        </ion-row>

                        <ion-row class="mt-20">
                            <ion-col>
                                <ion-item class="form-control">
                                    <ion-label position="floating">Username</ion-label>
                                    <ion-input type="text" style="text-transform: none !important;" formControlName='username'></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>

                        <ion-row class="mt-10">
                            <ion-col>
                                <ion-item class="form-control">
                                    <ion-label position="floating">Password</ion-label>
                                    <ion-input [type]="showPassword ? 'text' :'password'" formControlName="password"></ion-input>
                                    <ion-icon style="margin-top: 25px;" slot="end" [name]="passwordToggleicon" (click)="togglePassword()"></ion-icon>
                                </ion-item>
                            </ion-col>
                        </ion-row>

                        <ion-row class="mt-20">
                            <ion-col>
                                <ion-checkbox style="vertical-align: middle;" [(ngModel)]="terms" [ngModelOptions]="{standalone: true}"></ion-checkbox>
                                <ion-label class="open-models" style="padding-left: 5px;vertical-align: middle;">Remember Me </ion-label>
                            </ion-col>
                            <ion-col style="text-align: right;">
                                <ion-label (click)="forgotPassword()" style="color: #FF0606;">Forgot Password?</ion-label>
                            </ion-col>
                        </ion-row>

                        <ion-row class="mt-10">
                            <ion-col>
                                <ion-button class="btn-red" (click)="login()">Login <i class="fas fa-arrow-right"></i></ion-button>

                            </ion-col>
                        </ion-row>

                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </div>
</ion-content>