.box-des {
    font-size: 13px;
    border: 1px solid #d5d5d5;
    border-radius: 5px !important;
    margin: 10px;
    padding: 5px;
}

.box-dess {
    font-size: 13px;
    border: 1px solid #d5d5d5;
    border-radius: 5px !important;
    margin: 10px;
}

.box-des-lbl {
    font-size: 13px !important;
    padding: 0;
    border: none;
    border-radius: 0;
    display: flex;
    flex-wrap: nowrap;
    overflow-y: auto;
    white-space: nowrap;
    width: auto;
    margin: 0px;
    font-weight: bold;
    color: #a8a8a8;
    text-decoration: underline;
    line-height: 15px;
}

.menu-img {
    padding: 10px;
    width: 40px;
}

.route-block {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #fff;
    bottom: 0px;
    line-height: 38px;
}

.route-count {
    padding-left: 20px;
    font-size: 17px;
    margin-top: 6px;
}

.card-block {
    width: 100% !important;
    height: 210px !important;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 12px 0px;
    border-radius: 5px !important;
    border: 1px solid #ccc;
}

