<ion-content>
    <span class="shaprator"></span>
    <ion-grid class="container">
        <ion-row>
            <ion-col>
                <ion-row>
                    <ion-col size="10">
                        <ion-label class="d-block tiitle f-25">Order Filter</ion-label>
                    </ion-col>
                    <ion-col size="2">
                        <ion-label class="d-block f-20" style="color: red !important; ">Reset</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12" style="margin-top: 10px;">
                        <ion-label class="d-block tiitle f-15">Select status</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row class="black_box">
                    <ion-col size="12">
                        <ion-select okText="Ok" [(ngModel)]="Selstatus" [value]="Selstatus" placeholder="Select Status" cancelText="Dismiss" (ionChange)="onChangeState($event.target.value)">
                            <ion-select-option *ngFor="let item of StatusList" [value]="item.Status">{{item.Status}}</ion-select-option>
                        </ion-select>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12" style="margin-top: 10px;">
                        <ion-label class="d-block tiitle f-15">Order Type</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row class="black_box">
                    <ion-col size="12">
                        <ion-select okText="Ok" [(ngModel)]="Selstatus" [value]="Selstatus" placeholder="All Type" cancelText="Dismiss" (ionChange)="onChangeState($event.target.value)">
                            <ion-select-option *ngFor="let item of StatusList" [value]="item.Status">{{item.Status}}</ion-select-option>
                        </ion-select>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12" style="margin-top: 10px;">
                        <ion-label class="d-block tiitle f-15">Order From Date</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row class="black_box">
                    <ion-col size='12'>
                        <ion-item>
                            <ion-datetime displayFormat="DD MMM YYYY" pikerFormat="DD MMM YYYY" [(ngModel)]="Date" (ionChange)="onChangeDate($event.target.value)" placeholder="Select Date"></ion-datetime>
                            <ion-icon class="calendar-icon" name="calendar-outline" item-right></ion-icon>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12" style="margin-top: 10px;">
                        <ion-label class="d-block tiitle f-15">Order To Date</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row class="black_box">
                    <ion-col size='12'>
                        <ion-item>
                            <ion-datetime displayFormat="DD MMM YYYY" pikerFormat="DD MMM YYYY" [(ngModel)]="Date" (ionChange)="onChangeDate($event.target.value)" placeholder="Select Date"></ion-datetime>
                            <ion-icon class="calendar-icon" name="calendar-outline" item-right></ion-icon>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12" style="margin-top: 10px;">
                        <ion-label class="d-block tiitle f-15">Sort by</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row class="black_box">
                    <ion-col size="12">
                        <ion-select okText="Ok" [(ngModel)]="Selstatus" [value]="Selstatus" placeholder="Select" cancelText="Dismiss" (ionChange)="onChangeState($event.target.value)">
                            <ion-select-option *ngFor="let item of StatusList" [value]="item.Status">{{item.Status}}</ion-select-option>
                        </ion-select>
                    </ion-col>
                </ion-row>
                <ion-row style="margin-top: 15px;">
                    <ion-button class="btn-red" type="submit">Submit</ion-button>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>