

.info-lbl {
    display: block;
    width: calc(100% - 30px);
    line-height: 18px;
    margin: 0px 15px;
}



.user-info-block {
    margin: 0px !important;
    padding: 35px 0px 10px 0px!important;
}

.user-info {
    margin: 0px !important;
    padding: 0px !important;
    padding-top: 10px !important;
    padding-left: 12px !important;
}

.menu-header-title {
    color: #000;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 4px;
}

.menu-header {
    font-size: 16px;
    color: #000 !important;
}

.user-img {
    width: 70px !important;
    height: 70px !important;
    overflow: hidden;
    border-radius: 50% !important;
    border: 2px solid #939393;
    max-width: 70px !important;
    background-color: transparent;
    position: relative;
}

.pro_infobox {
	text-align: center;
	margin-bottom: 20px;
}

.info-view {
    margin-top: 10px !important;
    padding-bottom: 10px !important;
}


ion-row.forms_boxs {
	padding: 12px 0;
	padding-bottom: 40px;
}

.pro_content ion-label {
	display: block;
	margin: 0px !important;
	padding: 0px !important;
	margin-top: 4px !important;
	font-size: 15px !important;
}