<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid style="padding: 5px 8px !important;" no-padding class="header padding-0">
                <ion-row style="align-items: center;">
                    <ion-col size="12">
                        <div class="page_had">
                            <ion-buttons (click)="tools.backPage()" no-padding>
                                <ion-img class="img" src="../../../assets/images/Backwhite.png"></ion-img>
                            </ion-buttons>
                            <ion-label class="page_wtitle">Profile</ion-label>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>


    <ion-grid class="info-view">
        <ion-row class="forms_boxs">
            <ion-col size="12" class="p-0">
                <form [formGroup]="loginForm" (ngSubmit)="Saveprofile()" style="padding: 0 0px;">
                    <div class="form-group">
                        <ion-input type="text" [readonly]="isReadonly" class="form-control" formControlName='username'>
                        </ion-input>
                    </div>
                    <div class="form-group">
                        <ion-item class="form-control" style="height: 55px;">
                            <ion-label style="margin-top: -5px;" position="floating">Password</ion-label>
                            <ion-input [type]="showPassword ? 'text' :'password'" formControlName="password"></ion-input>
                            <ion-icon slot="end" [name]="passwordToggleicon" (click)="togglePassword()"></ion-icon>
                        </ion-item>
                    </div>
                    <div class="form-group">
                        <ion-item class="form-control" style="height: 55px;">
                            <ion-label style="margin-top: -5px;" position="floating">Confirm Password</ion-label>
                            <ion-input [type]="showCnfPassword ? 'text' :'password'" formControlName="cnfpassword"></ion-input>
                            <ion-icon slot="end" [name]="cnfPasswordToggleicon" (click)="CNFtogglePassword()"></ion-icon>
                        </ion-item>
                    </div>
                    <!-- <div class="form-group">
                        <ion-input [type]="showPassword ? 'text' :'password'" placeholder="Password" class="form-control" formControlName="password"></ion-input>
                        <ion-icon style="margin-top: 25px;" slot="end" [name]="passwordToggleicon" (click)="togglePassword()"></ion-icon>
                    </div>
                    <div class="form-group">
                        <ion-input type="text" placeholder="Confirm Password" class="form-control" formControlName="cnfpassword"></ion-input>
                    </div> -->

                    <div class="buttion_box">
                        <ion-button class="btn-red" type="submit">Save</ion-button>
                    </div>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>