<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid style="padding: 5px 8px !important;" no-padding class="header padding-0">
                <ion-row style="align-items: center;">
                    <ion-col size="11">
                        <div class="page_had">
                            <ion-buttons (click)="tools.backPage()" no-padding>
                                <ion-img class="img" src="../../../assets/images/Backwhite.png"></ion-img>
                            </ion-buttons>
                            <ion-label class="page_wtitle">Paypal</ion-label>
                        </div>
                    </ion-col>
                    <ion-col size="1">
                        <ion-buttons no-padding (click)="printer()">
                            <i class="fas fa-print"></i>
                        </ion-buttons>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content style="background: #fff">
    <ion-grid class="container" style="margin-top: 10px !important;">
        <ion-row class="box-des p-0">
            <ion-col class="content_col" size="12" style="background: #f6f6f6;padding: 13px 10px;">
                <ion-row>
                    <ion-col class="left_col">
                        <ion-label class="d-block f-11">Customer Details</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>

            <ion-col class="content_col" size="12">
                <ion-row>
                    <ion-col class="left_col">
                        <ion-label class="d-block f-11">Name</ion-label>
                    </ion-col>
                    <ion-col class="right_col">
                        <ion-label class="graytxt f-11">Test</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col class="content_col" size="12">
                <ion-row>
                    <ion-col class="left_col">
                        <ion-label class="d-block f-11">Mobile No.</ion-label>
                    </ion-col>
                    <ion-col class="right_col">
                        <ion-label class="graytxt f-11">+44 00000000</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col class="content_col" size="12">
                <ion-row>
                    <ion-col class="left_col">
                        <ion-label class="d-block f-11">Order Type</ion-label>
                    </ion-col>
                    <ion-col class="right_col">
                        <ion-label class="graytxt f-11">Delivery</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>

            <ion-col class="content_col" size="12">
                <ion-row>
                    <ion-col class="left_col">
                        <ion-label class="d-block f-11">Date Time</ion-label>
                    </ion-col>
                    <ion-col class="right_col">
                        <ion-label class="graytxt f-11">00 Jan 0000 - 00:00 AM</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col class="content_col" size="12">
                <ion-row>
                    <ion-col class="left_col">
                        <ion-label class="d-block f-11">Order ID</ion-label>
                    </ion-col>
                    <ion-col class="right_col">
                        <ion-label class="graytxt f-11">0000</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col class="content_col" size="12">
                <ion-row>
                    <ion-col class="left_col">
                        <ion-label class="d-block f-11">Status</ion-label>
                    </ion-col>
                    <ion-col class="right_col">
                        <ion-label class="graytxt f-11">NO</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>

        </ion-row>


        <ion-row class="box-des p-0" style="margin-top: 25px !important; ">
            <ion-col class="content_col" size="12" style="background: #f6f6f6;">
                <ion-row>
                    <ion-col size="6">
                        <ion-label class="d-block f-11">Menu</ion-label>
                    </ion-col>
                    <ion-col size="4">
                        <ion-label class="d-block f-11">Price</ion-label>
                    </ion-col>
                    <ion-col size="2">
                        <ion-label class="d-block f-11">Refund</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>

            <ion-col class="content_col" size="12">
                <ion-row>
                    <ion-col class="left_col">
                        <ion-label class="d-block f-11">0x0 Kulfi</ion-label>
                    </ion-col>
                    <ion-col class="right_col">
                        <ion-label class="d-block f-11">$ 00</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>

            <ion-col class="content_col" size="12">
                <ion-row>
                    <ion-col class="left_col">
                        <ion-label class="d-block title f-15">Sub Total</ion-label>
                    </ion-col>
                    <ion-col class="right_col">
                        <ion-label class="d-block title f-15">$ 0000</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>

            <ion-col class="content_col" size="12">
                <ion-row>
                    <ion-col class="left_col">
                        <ion-label class="d-block title f-15">Delivery Fee</ion-label>
                    </ion-col>
                    <ion-col class="right_col">
                        <ion-label class="d-block title f-15">$ 0000</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>

            <ion-col class="content_col" size="12">
                <ion-row>
                    <ion-col class="left_col">
                        <ion-label class="d-block title f-15">Refundable Amount</ion-label>
                    </ion-col>
                    <ion-col class="right_col">
                        <ion-label class="d-block title f-15">$ 000</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>

        <ion-row class="button_box">
            <ion-col style="margin-left: -20px;">
                <!-- <ion-radio-group *ngIf="item.multi_option == 'one'" class="tab-radio" (ionChange)="itemAdd($event,item.sub_item,item.subcat_id)">
                    <ion-item *ngFor="let price of item.sub_item" style="width: 90vh; --inner-border-width: 0;">
                        <ion-radio value="{{price.sub_item_id}}" slot="start" [(ngModel)]="price.sub_item_id" [checked]="price.isChecked"> </ion-radio>
                        <ion-label class="cat-title"> {{price.sub_item_name}} {{ price.price | currency :'GBP':'symbol':'1.2-2' }} </ion-label>
                    </ion-item>
                </ion-radio-group> -->

                <ion-radio-group class="tab-radio" [(ngModel)]="defValue" (ionChange)="itemSelProd($event)">
                    <ion-item style="width: 90vh; --inner-border-width: 0;">
                        <ion-radio value="fullrefund" slot="start"> </ion-radio>
                        <ion-label class="cat-title"> Full Refund</ion-label>
                    </ion-item>
                    <ion-item style="width: 90vh; --inner-border-width: 0;">
                        <ion-radio value="halfrefund" slot="start"> </ion-radio>
                        <ion-label class="cat-title"> Full Refund Without Tips</ion-label>
                    </ion-item>
                    <ion-item style="width: 90vh; --inner-border-width: 0;">
                        <ion-radio value="refund" slot="start"> </ion-radio>
                        <ion-label class="cat-title"> Partial Refund</ion-label>
                    </ion-item>
                </ion-radio-group>
            </ion-col>
        </ion-row>

        <ion-row class="button_box">
            <ion-col>
                <ion-button class="btn-green" (click)="refund()">REFUND AMOUNT</ion-button>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>