<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid style="padding: 5px 8px !important;" no-padding class="header padding-0">
                <ion-row style="align-items: center;">
                    <ion-col size="11">
                        <div class="page_had">
                            <ion-buttons (click)="tools.backPage()" no-padding>
                                <ion-img class="img" src="../../../assets/images/Backwhite.png"></ion-img>
                            </ion-buttons>
                            <ion-label class="page_wtitle">Printing Option</ion-label>
                        </div>
                    </ion-col>
                    <ion-col size="1">
                        <ion-buttons no-padding (click)="printer()">
                            <i class="fas fa-print"></i>
                        </ion-buttons>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content style="background: #fff">
    <ion-grid class="container">
        <ion-row class="p-0"> 
            <ion-col size="12" class="p-0">
                <ion-list class="chklist">
                    <ion-item>
                      <ion-label>Resturant Copy</ion-label>
                      <ion-checkbox slot="end" [(ngModel)]="terms" [ngModelOptions]="{standalone: true}"></ion-checkbox>
                    </ion-item>
                  </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>