ion-content {
    background: #fff !important;
    --background: #fff !important;
}

.img-loc {
    height: 20px;
    position: absolute;
}

.menu-img-1 {
    padding: 10px;
    width: 60px;
}

.logo-title {
    padding-left: 5px;
    padding-right: 5px;
}

.menu-img {
    padding: 0px;
    width: 20px;
    margin-right: 18px;
}

.order-img {
    padding: 0px;
    width: 20px;
    margin-right: 18px;
}

.logo-title {
    color: #000;
    font-family: "Poppins";
    font-size: 14px !important;
}

.menu {
    --background: #FF0606 !important;
}

.lbl-style-m {
    color: white !important;
    font-size: 15px !important;
}

ion-item {
    --background: #FF0606 !important;
}

ion-list {
    background: #FF0606 !important;
    --background: #FF0606 !important;
}

.tab-icon {
    height: 30px !important;
}

.cotent-area {
    height: calc(100vh - 56px);
}

ion-tab-button {
    --padding-top: 0;
    --padding-end: 0px;
    --padding-bottom: 0;
    --padding-start: 0px;
    max-width: 100%;
}

.tab-nav-box ion-label {
    width: 100%;
    float: left;
    color: #a3a3a3 !important;
    font-size: 13px;
}

img {
    border: none !important;
}

.tab-nav-box {
    background: #fff !important;
}

.tab-nav-box.tab-selected {
    background: #fbe1e5 !important;
}

.tab-nav-box.tab-selected ion-label {
    color: #000 !important;
}

// .tab-nav-box.tab-selected img {
//     padding: 2px;
//       border: 1px solid #e31e24 !important;
// }
.user-info-block {
    margin: 0px !important;
    padding: 30px 0px 20px 0!important;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px !important;
}

.user-img {
    width: 70px !important;
    height: 70px !important;
    overflow: hidden;
    border-radius: 50% !important;
    border: 2px solid #939393;
    max-width: 70px !important;
    background-color: transparent;
    position: relative;
}

.user-info {
    margin: 0px !important;
    padding: 0px !important;
    padding-top: 10px !important;
    padding-left: 12px !important;
}

.menu-header-title {
    color: #fff;
    font-size: 18px !important;
    margin-bottom: 4px !important;
    font-family: 'Poppins-SemiBold';
    display: block !important;
    text-transform: capitalize;
}

.menu-header {
    font-size: 16px;
    color: #fff !important;
    font-family: 'Poppins-SemiBold';
}

.icons-mail {
    display: inline-block;
    color: #fff !important;
    position: absolute;
    left: 0px;
    top: 4px;
}

.card-block {
    width: 100% !important;
    height: 210px !important;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 12px 0px;
    border-radius: 5px !important;
    border: 1px solid #ccc;
}

.route-block {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #fff;
    bottom: 0px;
    line-height: 38px;
}

.route-count {
    padding-left: 20px;
    font-size: 17px;
    margin-top: 6px;
}

.box-des {
    font-size: 13px;
    border: 1px solid #fff;
    border-radius: 5px !important;
    margin: 10px;
    background: white;
}

.box-black {
    border: 1px solid #817b7b;
    border-radius: 5px !important;
    margin: 10px 0px;
    background: white;
}

.box-des-lbl {
    font-size: 13px !important;
    padding: 0;
    border: none;
    border-radius: 0;
    display: flex;
    flex-wrap: nowrap;
    overflow-y: auto;
    white-space: nowrap;
    width: auto;
    margin: 0px;
    font-weight: bold;
    color: #a8a8a8;
    text-decoration: underline;
    line-height: 15px;
}

.user-img {
    width: 70px !important;
    height: 70px !important;
    overflow: hidden;
    border-radius: 50% !important;
    border: 2px solid #939393;
    max-width: 70px !important;
    background-color: transparent;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.user-img ion-label {
    background: #fff !important;
    padding: 0px !important;
    width: 58px;
    height: 58px !important;
    border-radius: 50%;
    display: block;
    margin: 4px auto !important;
    color: #000 !important;
    line-height: 58px;
    font-size: 30px !important;
    font-family: "Poppins-SemiBold";
}

ion-item {
    --inner-border-width: 0 0 0px 0;
}

.btn-green {
    width: 100%;
}

.siderbar_header {
    padding: 0px 10px;
    background: #FF0606;
    padding-bottom: 10px;
}

.page_had {
    display: flex;
    align-items: center;
}

.page_had .page_title {
    flex: 0 0 100%;
    max-width: calc(100% - 25px);
    font-size: 18px !important;
    color: white;
    text-align: center !important;
    font-family: 'Poppins-SemiBold';
}

.page_title {
    flex: 0 0 100%;
    max-width: calc(100% - 25px);
    font-size: 16px !important;
    font-family: 'Poppins-SemiBold';
    color: white;
    text-align: center !important;
}

.red_tittle {
    flex: 0 0 100%;
    max-width: calc(100% - 25px);
    font-size: 22px !important;
    font-family: 'Poppins-SemiBold';
    color: #FF0606 !important;
    text-align: center !important;
}

.black_tittle {
    flex: 0 0 100%;
    max-width: calc(100% - 25px);
    font-size: 13px !important;
    font-family: 'Poppins';
    color: black !important;
    text-align: center !important;
}

.customm_select {
    --ion-background-color: transparent;
    --highlight-color-focused: #fff;
    --border-color: transparent;
    border: 1.5px solid #fff;
    color: #fff !important;
    font-size: 15px !important;
    border-radius: 5px;
    padding: 10px 12px !important;
    font-family: "Poppins";
    margin-bottom: 10px;
}

ion-row.tab_list {
    background: transparent;
    border-bottom: 1px solid #fff;
    text-align: center;
    padding-bottom: 0;
    margin: 0;
    margin-bottom: 15px;
}

ion-row.tab_list ion-label {
    color: #fff;
    font-size: 16px !important;
    font-weight: 400;
    text-transform: uppercase;
    width: 100%;
    position: relative;
    display: block;
    text-align: center;
    padding: 5px;
}

ion-row.tab_list ion-label.active {
    font-weight: 700;
}

ion-row.tab_list ion-label.active::after {
    position: absolute;
    bottom: 0px;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 2px;
    content: '';
    display: block;
}

ion-col.tab_nav {
    padding: 0px !important;
}

.qty_box {
    padding: 10px;
    border-radius: 5px;
    background: #fff;
    height: 100%;
    display: block;
    text-align: center;
}

.qty-box {
    display: flex;
    align-items: center;
    max-width: 110px;
    margin: 10px auto;
}

.qty-box ion-img.button_img {
    padding: 0px 5px;
    flex: 0 0 30px;
    max-width: 30px;
}

.qty-box ion-label {
    flex: 0 0 100;
    max-width: calc(100% - 60px);
    display: block;
    text-align: center;
}

.list_cols {
    position: relative;
}

.info_box {
    display: flex;
    align-items: center;
}

.info_box .info_sta {
    background-color: green;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 12px;
    flex: 0 0 40px;
}

.info_box .info_sta img {
    position: absolute;
    max-width: 24px;
    max-height: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info_box .info_sta.green {
    background-color: green !important;
}

.info_box .info_sta.red {
    background-color: red !important;
}

.info_box .info_sta.orange {
    background-color: orange !important;
}

.button_box {
    margin: 0px -6px !important;
    margin-top: 15px !important;
}

.button_box ion-col {
    padding: 0px 6px !important;
}