<ion-content>
    <span class="shaprator"></span>

    <ion-grid style="border-top-left-radius: 20px; border-top-right-radius: 20px;">
        <ion-row>
            <ion-col>

                <ion-row>
                    <ion-col>
                        <ion-label class="logo-title">Decline</ion-label>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <ion-item class="form-control">
                            <ion-label position="floating">Write Comment</ion-label>
                            <ion-input type="text" style="text-transform: none !important;" [(ngModel)]="comment"></ion-input>

                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-label class="graytxt mt-20">We'll send a confirmation including pickup time to your customer.</ion-label>
                </ion-row>
                <ion-row class="button_box">
                    <ion-button class="btn-red" type="submit">Decline Order</ion-button>
                </ion-row>

            </ion-col>
        </ion-row>

    </ion-grid>

</ion-content>