<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid style="padding: 5px 8px !important;" no-padding class="header padding-0">
                <ion-row style="align-items: center;">
                    <ion-col size="11">
                        <div class="page_had">
                            <ion-buttons (click)="tools.backPage()" no-padding>
                                <ion-img class="img" src="../../../assets/images/Backwhite.png"></ion-img>
                            </ion-buttons>
                            <ion-label class="page_wtitle">Order No : {{order_id}}</ion-label>
                        </div>
                    </ion-col>
                    <ion-col size="1">
                        <ion-buttons no-padding (click)="printer()">
                            <i class="fas fa-print"></i>
                        </ion-buttons>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content style="background: #fff">
    <ion-grid class="container" style="margin-top: 10px !important;">
        <ion-row class="box-des p-0">

            <ion-col class="content_col" size="12" style="background: #f6f6f6;padding: 13px 10px;">
                <ion-row>
                    <ion-col class="left_col">
                        <ion-label class="d-block f-11">Order No : {{order_id}} </ion-label>
                    </ion-col>
                    <ion-col class="right_col">
                        <!-- <ion-label class="d-block f-11" style="color: orange;">{{DetailData.status}}</ion-label> -->
                        <ion-label class="d-block f-11" [ngClass]="{
                        'orangecolor': DetailData.status === 'Pending',
                        'greencolor' : DetailData.status === 'Delivered',
                        'orangecolor' : DetailData.status === 'Refunded Fully',
                        'orangecolor' : DetailData.status === 'Refunded Partially',
                        'greencolor' : DetailData.status === 'Accepted',
                        'bluecolor' : DetailData.status === 'Assigned',
                        'radcolor' : DetailData.status === 'Cancelled'}">
                            {{DetailData.status}}</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col class="content_col" size="12">
                <ion-row>
                    <ion-col class="left_col">
                        <ion-label class="d-block f-11">{{ClientInfo.full_name}}</ion-label>
                    </ion-col>
                    <ion-col class="right_col">
                        <ion-label class="d-block f-11">{{ClientInfo.contact_phone}}</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col class="content_col" size="12">
                <ion-row>
                    <ion-col class="left_col">
                        <ion-label class="graytxt f-11">{{ClientInfo.address}}</ion-label>
                    </ion-col>

                </ion-row>
                <ion-row>
                    <ion-col class="right_col">
                        <ion-label class="d-block" style="color: red !important; margin-left: -22px !important; ">View Location</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col class="content_col" size="12">
                <ion-row>
                    <ion-col class="left_col">
                        <ion-label class="d-block f-11">Order Type</ion-label>
                    </ion-col>
                    <ion-col class="right_col">
                        <ion-label class="graytxt f-11">{{DetailData.trans_type}}</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col class="content_col" size="12">
                <ion-row>
                    <ion-col class="left_col">
                        <ion-label class="d-block f-11">Payment Type</ion-label>
                    </ion-col>
                    <ion-col class="right_col">
                        <ion-label class="graytxt f-11">{{DetailData.payment_type}}</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col class="content_col" size="12">
                <ion-row>
                    <ion-col class="left_col">
                        <ion-label class="d-block f-11">Ordered Time</ion-label>
                    </ion-col>
                    <ion-col class="right_col">
                        <ion-label class="graytxt f-11">{{DetailData.ordered_time}}</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col class="content_col" size="12">
                <ion-row>
                    <ion-col class="left_col">
                        <ion-label class="d-block f-11">Delivery Date</ion-label>
                    </ion-col>
                    <ion-col class="right_col">
                        <ion-label class="graytxt f-11">{{DetailData.delivery_date}}</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col class="content_col" size="12">
                <ion-row>
                    <ion-col class="left_col">
                        <ion-label class="d-block f-11">Despatch Time</ion-label>
                    </ion-col>
                    <ion-col class="right_col">
                        <ion-label class="graytxt f-11">{{DetailData.delivery_time}}</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col class="content_col" size="12">
                <ion-row>
                    <ion-col class="left_col">
                        <ion-label class="d-block f-11">Delivery Instruction</ion-label>
                    </ion-col>
                    <ion-col class="right_col">
                        <ion-label class="graytxt f-11">{{DetailData.delivery_instruction}}</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>


        <ion-row class="box-des p-0" style="margin-top: 25px !important; ">
            <ion-col class="content_col" size="12" style="background: #f6f6f6;padding: 13px 10px;">
                <ion-row>
                    <ion-col class="left_col">
                        <ion-label class="d-block f-11">Order Details</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>


            <ion-col class="content_col" size="12" *ngFor="let item of ItemList;">
                <ion-row>
                    <ion-col class="left_col">
                        <ion-label class="d-block f-11">{{item.qty}} X {{item.discounted_price}} - {{item.item_name}}</ion-label>
                    </ion-col>
                    <ion-col class="right_col">
                        <ion-label class="d-block f-11">{{item.total_price}}</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>


            <ion-col class="content_col" size="12">
                <ion-row>
                    <ion-col class="left_col">
                        <ion-label class="d-block title f-15">Sub Total</ion-label>
                    </ion-col>
                    <ion-col class="right_col">
                        <ion-label class="d-block title f-15">{{totalCount.subtotal}}</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>

            <ion-col class="content_col" size="12">
                <ion-row>
                    <ion-col class="left_col">
                        <ion-label class="d-block f-11">Discount - 3.5 %</ion-label>
                    </ion-col>
                    <ion-col class="right_col">
                        <ion-label class="graytxt f-11">({{totalCount.discounted_amount}})</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col class="content_col" size="12">
                <ion-row>
                    <ion-col class="left_col">
                        <ion-label class="d-block f-11">Delivery Fee</ion-label>
                    </ion-col>
                    <ion-col class="right_col">
                        <ion-label class="graytxt f-11">£ {{totalCount.delivery_charges}}</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>



            <ion-col class="content_col" size="12">
                <ion-row>
                    <ion-col class="left_col">
                        <ion-label class="d-block title f-15">Total</ion-label>
                    </ion-col>
                    <ion-col class="right_col">
                        <ion-label class="d-block title f-15">{{totalCount.total}}</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>


        <ion-row class="button_box" *ngIf="DetailData.status === 'Pending'">
            <ion-col>
                <ion-button class="btn-red" (click)="decline()">DECLINE</ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="btn-green" (click)="accept()">ACCEPT</ion-button>
            </ion-col>
        </ion-row>

        <ion-row class="button_box" *ngIf="DetailData.status != 'Pending'">
            <ion-col>
                <ion-button class="btn-green" (click)="chngstatus()">CHANGE STATUS</ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="btn-red" (click)="btnprint()">PRINT</ion-button>
            </ion-col>
        </ion-row>
        <ion-row class="button_box">
            <ion-col *ngIf="DetailData.status === 'Accepted' || 'Refunded Partially'">
                <ion-button class="btn-blue" (click)="assignDriver()">ASSIGN DRIVER</ion-button>
            </ion-col>
            <ion-col *ngIf="DetailData.payment_type != 'CASH'">
                <ion-button class="btn-orange" (click)="refund()">REFUND</ion-button>
            </ion-col>
        </ion-row>
        <ion-row class="button_box">
            <ion-col *ngIf="DetailData.status === 'Assigned'">
                <ion-button class="btn-blue" (click)="changeDriver()">CHANGE DRIVER</ion-button>
            </ion-col>

        </ion-row>
    </ion-grid>
</ion-content>