<ion-content>
    <span class="shaprator"></span>
    <ion-grid class="container">
        <ion-row>
            <ion-col>

                <ion-row>
                    <ion-col>
                        <ion-label class="logo-title">Change Driver</ion-label>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col class="right_col" size="12">
                        <ion-radio-group (ionChange)="itemAdd($event)">
                            <ion-item *ngFor="let driver of DriverList" style="width: 90vh; --inner-border-width: 0;">
                                <ion-radio value="{{driver.id}}" slot="start"> </ion-radio>
                                <ion-label class="cat-title"> {{driver.driver_name}}</ion-label>
                            </ion-item>
                        </ion-radio-group>

                        <!-- <ion-radio-group class="tab-radio">
                            <ion-item style="width: 90vh; --inner-border-width: 0;" *ngFor="let driver of DriverList">
                                <ion-radio value="fullrefund" slot="start"> </ion-radio>
                                <ion-label class="cat-title"> {{driver.driver_name}}</ion-label>
                            </ion-item>
                        </ion-radio-group> -->
                    </ion-col>
                </ion-row>


                <ion-row class="button_box">
                    <ion-button class="btn-red" (click)="submit()">Submit</ion-button>
                </ion-row>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>